<style>
  .list-group-item > .badge {
    float: left;
    background: dodgerblue;
  }
</style>
<div class="bootcards-list">
  <div class="panel panel-default">
    <div class="panel-body">
      <form>
        <div class="row">
          <div class="col-xs-9">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="$ctrl.query" placeholder="Search Suppliers...">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <div class="col-xs-3">
            <a class="btn btn-primary btn-block" href="#">
              <i class="fa fa-plus"></i>
              Add
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="list-group">
      <a href="#!/levels/{{level.id}}" class="list-group-item" ng-repeat="level in $ctrl.levels | filter:$ctrl.query">
        <span class="badge">{{level.employees.length}}</span>
        <h4 class="list-group-item-heading" style="padding-right: 1%"> {{level.name}}</h4>
        <p class="list-group-item-text">{{level.accountManager}}</p>
      </a>
    </div>
    <div class="panel-footer">
      <small>Standard Bank</small>
    </div>
  </div>
</div>
