<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<style>

  body{
    background:#eee;
  }
  .main-box.no-header {
    padding-top: 20px;
  }
  .main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .table a.table-link.danger {
    color: #e74c3c;
  }
  .label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
  }
  .user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
  }
  .user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
  }
  a {
    color: #3498db;
    outline: none!important;
  }
  .user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
  }

  .table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
  }
  .table thead tr th {
    border-bottom: 2px solid #e7ebee;
  }
  .table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
  }
  .table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
  }
</style>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3>Find a Legend</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
          <div class="form-group has-feedback">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="search" ng-model="$ctrl.query" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                <tr>
                  <th><span>User</span></th>
                  <th><span>Updated</span></th>
                  <th class="text-center"><span>Status</span></th>
                  <th><span>Active</span></th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="resource in $ctrl.resources | filter:$ctrl.query">
                  <td>
                    <img ng-if="resource.gender == 'male'" src="http://bootdey.com/img/Content/user_1.jpg" alt="male">
                    <img ng-if="resource.gender == 'female'" src="http://bootdey.com/img/Content/user_2.jpg" alt="female">
                    <a href="#!/resources/{{resource.id}}" class="user-link">{{resource.firstName}} {{resource.lastName}}</a>
                    <span class="user-subhead">{{resource.team.name}}</span>
                  </td>
                  <td>{{resource.updatedAt}}</td>
                  <td class="text-center">
                    <span ng-if="resource.employeeType == 'perm'"  class="label label-success">Perm</span>
                    <span ng-if="resource.employeeType == 'vacancy'"  class="label label-warning">Vacancy</span>
                    <span ng-if="resource.employeeType == 'turnkey'"  class="label label-danger">TurnKey</span>
                    <span ng-if="resource.employeeType == 'contractor'"  class="label label-default">Contractor</span>
                  </td>
                  <td>
                    <a href="#">{{resource.active}}</a>
                  </td>
                  <td style="width: 20%;">
                    <a href="#!/resources/{{resource.id}}" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                    </a>
                    <a href="#" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                    </a>
                    <a href="#" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
