<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2 class="text-primary"><b><span class="glyphicon glyphicon-user"></span> {{$ctrl.resource.firstName}} {{$ctrl.resource.lastName}}</b></h2>
              <p><strong><span class="glyphicon glyphicon-ok-circle"></span>About: </strong>{{$ctrl.resource.description}}</p>
              <p><strong><span class="glyphicon glyphicon-certificate"></span>Hobbies: </strong>{{$ctrl.resource.hobbies}}</p>
              <p><strong><span class="glyphicon glyphicon-thumbs-up"></span>Skills: </strong>
                <span ng-repeat="skill in $ctrl.resource.skills" class="label label-info tags">{{skill}}</span>
              </p>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://www.gravatar.com/avatar/f6112e781842d6a2b4636b35451401ff?s=180&amp;d=mm&amp;r=g" alt="" class="center-block img-circle img-responsive profile-img">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div><!--/col-->

            <div class="col-xs-12 col-sm-4">
              <h2><strong> 10,7K </strong></h2>
              <p><small>Commits</small></p>
              <a class="btn btn-primary pull-left" href="#!/resource/{{$ctrl.resource.id}}">
                <i class="fa fa-pencil"></i>
                Edit
              </a>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>2</strong></h2>
              <p><small>Broken Builds</small></p>
              <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Stash Profile </button>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>58</strong></h2>
              <p><small>Jira Issues</small></p>
              <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Tasks Outstanding </button>
            </div><!--/col-->
          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->
    </div>
  </div>
</div>
