<script src="bower_components/test_data/morris-data.js"></script>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-wrench fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">166</div>
            <div>Resources!</div>
          </div>
        </div>
      </div>
      <a href="#!/resources">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-money fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">R730 400</div>
            <div>Daily Spend!</div>
          </div>
        </div>
      </div>
      <a href="#/resources">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">20</div>
            <div>Total Available Capacity!</div>
          </div>
        </div>
      </div>
      <a href="/resources">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-bug fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">13</div>
            <div>Production Bugs!</div>
          </div>
        </div>
      </div>
      <a href="#/resources">
        <div class="panel-footer">
          <span class="pull-left">View Details</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Number of Employees Over Time
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Action</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div id="morris-area-chart"></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-users fa-fw"></i> Recent Joiners
        <div class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Actions
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="#">Create New...</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <resource-list></resource-list>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.col-lg-4 (nested) -->

          <!-- /.col-lg-8 (nested) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Activity Timeline
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="col-lg-8">
          <div id="morris-bar-chart"></div>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Recent Activity
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <i class="fa fa-user fa-fw"></i> New Resource
                                    <span class="pull-right text-muted small"><em>4 days ago</em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Rate Changed
                                    <span class="pull-right text-muted small"><em>12 days ago</em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-heart-o fa-fw"></i> New Skill Added
                                    <span class="pull-right text-muted small"><em>13 days ago</em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-shopping-cart fa-fw"></i> New Vendor Added
                                    <span class="pull-right text-muted small"><em>13 days ago</em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-ambulance fa-fw"></i> New Incident Created
                                    <span class="pull-right text-muted small"><em>13 days ago</em>
                                    </span>
          </a>

        </div>
        <!-- /.list-group -->
        <a href="#" class="btn btn-default btn-block">View All Activity</a>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- Pie Chart  -->
    <resource-type></resource-type>-
    <!-- /.panel -->

    <!-- /.panel .chat-panel -->
  </div>
  <!-- /.col-lg-4 -->
</div>
